<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>강릉원주대학교</string>
    <string>강원대학교</string>
    <string>경남과학기술대학교</string>
    <string>경북대학교</string>
    <string>경상대학교</string>
    <string>공주대학교</string>
    <string>광주과학기술원</string>
    <string>군산대학교</string>
    <string>목포대학교</string>
    <string>부산대학교</string>
    <string>서울과학기술대학교</string>
    <string>서울대학교</string>
    <string>순천대학교</string>
    <string>안동대학교</string>
    <string>울산과학기술원</string>
    <string>인천대학교</string>
    <string>전남대학교</string>
    <string>전북대학교</string>
    <string>전북대학교</string>
    <string>창원대학교</string>
    <string>충남대학교</string>
    <string>한경대학교</string>
    <string>한국교원대학교</string>
    <string>한국체육대학교</string>
    <string>한국해양대학교</string>
    <string>한밭대학교</string>
    <string>가천대학교</string>
    <string>가톨릭대학교</string>
    <string>강남대학교</string>
    <string>건국대학교</string>
    <string>경기대학교</string>
    <string>경희대학교</string>
    <string>고려대학교</string>
    <string>광운대학교</string>
    <string>국민대학교</string>
    <string>남서울대학교</string>
    <string>단국대학교</string>
    <string>대구대학교</string>
    <string>대신대학교</string>
    <string>동국대학교</string>
    <string>동덕여자대학교</string>
    <string>동아대학교</string>
    <string>명지대학교</string>
    <string>배재대학교</string>
    <string>부산가톨릭대학교</string>
    <string>삼육대학교</string>
    <string>상명대학교</string>
    <string>서강대학교</string>
    <string>서경대학교</string>
    <string>서남대학교</string>
    <string>서울여자대학교</string>
    <string>선문대학교</string>
    <string>성결대학교</string>
    <string>성공회대학교</string>
    <string>성균관대학교</string>
    <string>성신여자대학교</string>
    <string>세명대학교</string>
    <string>세종대학교</string>
    <string>세한대학교</string>
    <string>송원대학교</string>
    <string>수원가톨릭대학교</string>
    <string>수원대학교</string>
    <string>숙명여자대학교</string>
    <string>순천향대학교</string>
    <string>숭실대학교</string>
    <string>신경대학교</string>
    <string>신라대학교</string>
    <string>신한대학교</string>
    <string>아세아연합신학대학교</string>
    <string>아주대학교</string>
    <string>안양대학교</string>
    <string>연세대학교</string>
    <string>영남대학교</string>
    <string>영남신학대학교</string>
    <string>영동대학교</string>
    <string>영산대학교</string>
    <string>영산선학대학교</string>
    <string>예수대학교</string>
    <string>예원예술대학교</string>
    <string>용인대학교</string>
    <string>우석대학교</string>
    <string>우송대학교</string>
    <string>울산대학교</string>
    <string>원광대학교</string>
    <string>위덕대학교</string>
    <string>을지대학교</string>
    <string>이화여자대학교</string>
    <string>인제대학교</string>
    <string>인천가톨릭대학교</string>
    <string>인하대학교</string>
    <string>장로회신학대학교</string>
    <string>전주대학교</string>
    <string>제주국제대학교</string>
    <string>조선대학교</string>
    <string>중부대학교</string>
    <string>중앙대학교</string>
    <string>중앙승가대학교</string>
    <string>중원대학교</string>
    <string>차의과학대학교</string>
    <string>창신대학교</string>
    <string>청운대학교</string>
    <string>청주대학교</string>
    <string>초당대학교</string>
    <string>총신대학교</string>
    <string>추계예술대학교</string>
    <string>침례신학대학교</string>
    <string>칼빈대학교</string>
    <string>케이씨대학교</string>
    <string>평택대학교</string>
    <string>포항공과대학교</string>
    <string>한국국제대학교</string>
    <string>한국기술교육대학교</string>
    <string>한국산업기술대학교</string>
    <string>한국성서대학교</string>
    <string>한국외국어대학교</string>
    <string>한국항공대학교</string>
    <string>한남대학교</string>
    <string>한동대학교</string>
    <string>한라대학교</string>
    <string>한려대학교</string>
    <string>한림대학교</string>
    <string>한서대학교</string>
    <string>한성대학교</string>
    <string>한세대학교</string>
    <string>한신대학교</string>
    <string>한양대학교</string>
    <string>한영신학대학교</string>
    <string>한일장신대학교</string>
    <string>한중대학교</string>
    <string>협성대학교</string>
    <string>호남대학교</string>
    <string>호남신학대학교</string>
    <string>호서대학교</string>
    <string>호원대학교</string>
    <string>홍익대학교</string>
    <string>경인교육대학교</string>
    <string>공주교육대학교</string>
    <string>광주교육대학교</string>
    <string>대구교육대학교</string>
    <string>부산교육대학교</string>
    <string>서울교육대학교</string>
    <string>전주교육대학교</string>
    <string>진주교육대학교</string>
    <string>청주교육대학교</string>
    <string>춘천교육대학교</string>
</array>
</plist>
